<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (submit)="onHandleSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              required
              class="form-control"
              ngModel
              name="username"
            />
          </div>
          <p *ngIf="">Incorrect value in username</p>
          <button
            class="btn btn-secondary"
            type="button"
            (click)="onSuggestedUser()"
          >
            Suggest an Username
          </button>
          <div
            class="form-group"
            [ngClass]="{ invalid: !email.valid && email.touched }"
          >
            <label for="email">Mail</label>
            <input
              type="email"
              required
              email
              id="email"
              #email="ngModel"
              class="form-control"
              ngModel
              name="email"
            />
            <div class="invalid-feedback" *ngIf="!email.valid && email.touched">
              Please set a email
            </div>
          </div>
        </div>
        <div *ngIf="!userData.valid && userData.touched">
          Incorrect user data
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="answer"
            [(ngModel)]="answer"
            class="form-control"
          ></textarea>
          <p>Answer is: {{ answer }}</p>
        </div>
        <div class="radios">
          <div *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                name="gender"
                required=""
                ngModel
                [value]="gender"
              />
              {{ gender }}
            </label>
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="!f.valid" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
